@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

:root {
  --background: #081b24;
}

.App {
  width:100%;
  min-height:100%;
  padding:3rem;
  margin:0;
  background-color: var(--background);
  color: white;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight:400;
}

header {
  position:relative;
  width:100%;
  height:80px;
}

.text {
  padding:0;
  margin:0;
}

main {
  position: relative;
}

h1 {
  margin:0;
  font-size:4rem;
}

svg.svg-inline--fa {
  margin-right:0.5rem;
}

#location-search {
  position: absolute;
  top:0;
  left:0;
  background-color: var(--background);
  height:100%;
  width:100%;
  overflow:scroll;
  display:none;
}

#location-search.active {
  display: block;
}

.clickable {
  cursor:pointer;
  margin: 1rem 0 1rem 0;
}

.text.light {
  font-weight:300;
}

.text.bold{
  font-weight:700;
}

.text.semi-bold {
  font-weight:500;
}