.App {
  height:100%;
  width:100%;
  padding:3rem;
  margin:0;
  background-color: #0a1929;
  color: white;
  box-sizing: border-box;
}

header {
  position:relative;
  width:100%;
  height:80px;
}

.container {
  display:flex;
  flex-direction: row;
}

.container--space-between {
  justify-content: space-between;
}

h1 {
  margin:0;
  font-size:4rem;
}

.centered {
  display:flex;
  width:100%;
  align-content: center;
  justify-content: center;

}

.v-centered {
  display:flex;
  align-items: center;
}

svg.svg-inline--fa {
  margin-right:0.5rem;
}