#degree-icon {
    height:0.66rem;
}

#temperature {
    margin-top:1rem;
}

#weather-icon {
    height:6rem;
}

#condition-icon {
    width:20%;
    height:100%;
}

.current-conditions {
    margin-bottom: 2rem;
}

.current-conditions > .container:nth-child(2) {
    margin:1rem 0 2rem 0;
}