.day-overview {
    display: inline-block;
    overflow:scroll;
    width:100%;
}

.overview {
    display:flex;
    flex-direction:row;
}

.overview__item {
    min-width:60px;
    padding:0 10px;
    box-sizing: border-box;
}

#degree-icon {

}

#temperature-line {
    width:888px;
    height: 80px;
}

path {
    stroke-width: 2.5px;
    stroke: #13304f;
}